<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
 <!-- 打印语句 -->
   <settings>
    <setting name="logImpl" value="STDOUT_LOGGING"/>
</settings>
    <!-- 别名定义 -->  
    <typeAliases>  
    
        <typeAlias alias="User"  type="edu.yuying.entity.User" />  
         <typeAlias alias="RecordHistoricalChanges"  type="edu.yuying.entity.RecordHistoricalChanges" />  
          <typeAlias alias="HistoryPostingRecord"  type="edu.yuying.entity.HistoryPostingRecord" />  
    </typeAliases>  
 
</configuration>  