<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.yuying.dao.ChatWithPeopleDao">

	<resultMap type="ChatWithPeople" id="ChatWithPeopleResult">

		<id property="SendPhone" column="SendPhone" />

		<id property="ReceivePhone" column="ReceivePhone" />

		<id property="time" column="time" />

		<result property="Content" column="Content" />
		<association property="toUser" column="ReceivePhone" select="getUserInfoByReceive" />
		<association property="fromuser" column="SendPhone" select="getUserInfoBySend" />
	</resultMap>

	<select id="getUserInfoByReceive" parameterType="java.lang.String"
		resultType="User">select * from userinfo where Phone = #{ReceivePhone}
	</select>
	<select id="getUserInfoBySend" parameterType="java.lang.String"
		resultType="User">select * from userinfo where Phone = #{SendPhone}
	</select>
	<sql id="Base_Column_List">SendPhone, ReceivePhone, Content, time</sql>
	<!-- 根据手机号查看自己的聊天记录 -->
	<select id="chatToalHistory" parameterType="String" timeout="5"
		statementType="PREPARED" resultMap="ChatWithPeopleResult">
		select
		<include refid="Base_Column_List" />
		from chatwithpeople where sendphone =#{fromephone}

	</select>


	<!-- 根据接收者跟发送者查看聊天记录 -->
	<select id="chatToalHistoryByRecevice" parameterType="String"
		timeout="5" statementType="PREPARED" resultMap="ChatWithPeopleResult">
		select
		<include refid="Base_Column_List" />
		from chatwithpeople where sendphone =#{0} and receivephone=#{1}
	</select>

	<!-- 查看跟谁聊过天聊天记录 -->
	<select id="chatWithWho" parameterType="String" timeout="5"
		statementType="PREPARED" resultMap="ChatWithPeopleResult">
		select
		<include refid="Base_Column_List" />
		from chatwithpeople where sendphone =#{fromphone}
	</select>

	<!-- 查看时间段内聊天记录 -->
	<select id="chatFromTimeToTime"  timeout="5"
		statementType="PREPARED" resultMap="ChatWithPeopleResult">
		select
		<include refid="Base_Column_List" />
		from chatwithpeople where sendphone =#{0} and time &gt;=#{1,jdbcType=TIMESTAMP}and
		time&lt;#{2,jdbcType=TIMESTAMP}
	</select>
	

	<!--   //根据时间列出跟谁聊过天 -->
	<select id="chatWithWhoDringTime" parameterType="String" timeout="5"
		statementType="PREPARED" resultMap="ChatWithPeopleResult">
		select
		<include refid="Base_Column_List" />
		from chatwithpeople where sendphone =#{0} and time &gt;=#{1}and
		time&lt;#{2}
	</select>

	<!-- 插入數據 -->
<insert id="insertChatDate" parameterType="ChatWithPeople">insert into chatwithpeople (sendphone, receivephone, content,time)values (#{SendPhone}, #{ReceivePhone}, #{Content},#{time})
 </insert>
	

</mapper>  